  body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #333;
  }
  /*h2,h3{
    font-size: 120%;
    line-height: 30px;
  }*/
  h2{
    font-family: 'Open sans', sans-serif;
  }
h3{
    font: 20px "Lato", sans-serif;
  }
p{
  color: black;
}
header{
  background-color: #030703;
  position: fixed;
  /*margin-top: 30px;*/
  width: 100%;
  z-index: 1;
  opacity: .90;
  height: 80px;
}

 .content{
    width: auto;
    max-width: 900px;
    margin: 0 auto;
    color: #333;
    padding: 0 20px;
    text-align: center;
    text-align: justify;
}
 .secondcontent{
    width: auto; 
    color: #333;
    padding: 0 20px;
    text-align: center;
    text-align: justify;
}
.bg-img2 li a{
  color: #fff;
  font-weight: bold;
}
.bg-img2 li a:hover{
  color: #21bc24;
}

.middle{
  background-color: #282E34;
  padding: 50px 0;
}
 .centerFront{
    width: auto;
    max-width: 900px;
    margin: 0 auto;
    color: #999;
    text-align: center;
}
#logo{
  
}
header h1 a{
  color: #fff;
  text-decoration: none;
}
header h1{
  float: left;
  
}
header h1 a:hover{
  color: #fff;
  text-decoration: none;
}
nav{
  float: right;
  padding: 5px 0;
  
}
#menu-icon{
  display: hidden;
  background: url('../img/menuicon.png') center;
  width: 40px;
  height: 40px;
  margin: 20px 5px;

  /*more code here*/
}
a:hover#menu-icon{
  border-radius: 4px 4px 0 0;
}
ul{
  list-style: none;
}
nav ul li{
  float: left;
  padding: 0px 35px 20px 0;
  display: inline-block;
} 

nav ul li a{
  color: #fff;
  padding-bottom: 10px;
}
nav ul a:hover{
  color: #21bc24;
}
main{
  overflow-x: hidden;
}
.bg-img1{
  background-image: url('../img/image6.jpg');
  min-height: 600px;
  background-size: cover;
  width: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed; 
}
.bg-img2{
  background-image: url('../img/image5.jpg');
  min-height: 400px;
  background-size: cover;
  width: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-position: center center;
}
#projectTop{
  background-image: url('../img/image5.jpg');
   background-size: cover;
}

.centerImage{
  position: absolute;
 
  top: 10%;
  width: 100%;
  text-align: center;
}
#about .content h3{
      font-size: 120%;
    line-height: 30px;
}
h3{
  font-size: 120%;
  line-height: 30px;
}
.move{
  margin-top: 140px;
}
h2{
  text-align: center;
  color: #fff;

}
#about .content {
  
  margin: 165px auto;
}
#contact .content{
  margin: 40% auto;
}

input[type=text]{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border-radius: 4px;
  border: 1px solid #ccc;
  display: inline-block;
  box-sizing: border-box;
}
input[type=email]{
  width: 100%;
   padding: 12px 20px;
   margin: 8px 0;
   border-radius: 4px;
   border: 1px solid #ccc;
   box-sizing: border-box;
}
textarea{
  width: 100%;
  box-sizing: border-box;
  resize: none;
  padding: 12px 20px;
  margin: 8px 0;
  height: 150px;
  border-radius: 4px;
  border: 1px solid #ccc;
}
input[type=submit]{
  width: 30%;
  padding: 14px 20px;
  border-radius: 4px;
  border: none;
  background-color: #21bc24;
  color: #fff;
  margin: 8px 0;
  cursor: pointer;
}
input[type=submit]:hover{
   background-color: #45a049;
}
footer{
  background-color: #030703;
  height: 90px;
}
.footerLeft{
  float: left;
  padding-top: 30px;
  font-weight: bold;
}
.footerRight ul li{
  float: right;
  display: inline-block;
  padding: 30px 10px 20px 10px;
}
.footerRight ul li img{
 height: 25px;
}

@media screen and (max-width: 475px){
  body{
    position: absolute;
  }
}
@media screen and (max-width: 750px){

  header{
    position: absolute;
  }
  #menu-icon{
    display: inline-block;
    
  }
  nav ul, nav:active ul{
    display: none;
    position: absolute;
    padding: 20px;
    background-color: #030703;
    border: 1px solid #fff;
    right: 20px;
    top: 60px;
    width: 50%;
    border-radius: 2px 0 2px 2px;
  }
  nav li{
    text-align: center;
    width: 100%;
    padding: 10px 0;
    margin: 0;
  }
  nav:hover ul{
    display: block;
  }
  .centerImage img{
    width: 200px;
    height: 200px;
  }

  h2{
    font: 20px "Lato", sans-serif;
  }
  .bg-img{
  min-height: 400px;
}
.centerImage{
  top: 1%;
}
.move{
  margin-top: 100px;
}
#about .content {
  margin: 100px auto;
}
#about .content h3{
  font-size: 100%;
  line-height: 25px;
}
h3{
  font-size: 100%;
  line-height: 25px;
}
input[type=text]{
  padding: 6px 10px;
  margin: 10px 0;
}
input[type=email]{
   padding: 6px 10px;
   margin: 10px 0;
}
textarea{
  width: 100%;
  box-sizing: border-box;
  resize: none;
  padding: 6px 10px;
  margin: 10px 0;
  height: 120px;
}
input[type=submit]{
  width: 20%;
  padding: 6px 10px;
  margin: 10px 0;
}
input[value="SEND MESSAGE"]{
  font: 10px "Lato", sans-serif;
  letter-spacing: 50%;
  width: auto;
  text-align: center;
}
}
@media screen and (max-width: 475px){
  .footerRight{
    display: none;
  }

.footerLeft{
  float: none;
  text-align: center;
}
}
